<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <div class="titulo-form">LOGIN</div>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel value="Usuário" style="display: inline-block; width: 50px" id="usuario"/>
                <h:inputText required="true" requiredMessage="Usuário não pode ser em branco"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel value="Senha" style="display: inline-block; width: 50px" id="senha"/>
                <h:inputSecret required="true" requiredMessage="Senha não pode ser em branco"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:selectBooleanCheckbox/>
                <h:outputText value="Administrador" id="opadmin"/>
            </h:panelGroup>
            <h:commandButton value="Entrar" action="#loginBean.entrar"/>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
